body{
    
    background-image: url(../images/fondo_formulario2.jfif); 
    background-repeat:no-repeat;
    background-size:1950px 1000px;
}
#container{
    margin:0% 30%;
    background-color:#59204D;
    border:3px solid black;
    border-radius:12px;
    padding:10px;
    color:whitesmoke;
    align-items: center;
    text-align: center;
    box-shadow: 7px 13px 20px black;
    margin-top:100px
}

#lista{
    margin:20% 0%;
}




