

body{
    
    background-image: url(../images/fondo_formulario.jpg);
    background-repeat:no-repeat;
    background-size:1550px 1000px;
    
}

#container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}