
#imagen{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: grey;
    width: 1550px;
    height: 400px;
    
}

#imagen2{
   padding: 20px;
   border-radius: 10%;
}

.preguntas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: grey;
    height: 320px;
    width: 1550px;
}

.contenedorPregunta{
    background-color: #cccccc;
    border-radius: 5%;
    padding: 20px;
}

.contenedorPregunta a{
    text-decoration: none;
}
